<% layout("/layouts/boilerplate")-%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <!-- <br><br> -->
                <h3>Create New Listing</h3>
                <form action="/listings" method="post" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" id="" placeholder="Add a catchy title"
                            class="form-control" required>
                        <div class="valid-feedback">Title Looks Good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" id="" placeholder="enter description" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                    </div>

                    <!-- <div class="mb-3">
        <label for="ImageFilename" class="form-label">FileName</label>
        <input type="text" name="listing[image][filename]" id="" placeholder="enter filenamE" value="listingimage" class="form-control" required>
        </div> -->


                    <div class="mb-3">
                        <label for="ImageUrl" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" id="" placeholder="enter url" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>

                        <select name="listing[category]" id="category" class="form-select" required>
                            <option value="">Select a category</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castles">Castles</option>
                            <option value="Amazing Pools">Amazing Pools</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                        </select>

                        <div class="invalid-feedback">Please select a category</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" id="" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" id="" placeholder="Vadodara,Gujarat"
                                class="form-control" required>
                            <div class="invalid-feedback">Location should be valid</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" placeholder="India" class="form-control"
                            required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                    <!-- <br> -->
                    <button class="btn btn-dark add-btn mt-3">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>