body{
    font-family: 'Plus Jakarta Sans',sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.container{
    flex:1;
}

.navbar{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    /* height:5rem; */
    background-color: white;
}

.fa-house{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

.f-info-socials{
    margin-top: 0.5rem;
    display: flex;
    font-size: 1.2rem;
    gap:1rem;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    
}

.card-index{
    transition: transform 0.3s ease !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}

.card-index:hover{
    transform: scale(1.05) !important;
}
.card-body{
    padding: 0 !important;
    
}

.card-text p{
    font-weight: 400 !important;
    
}
.link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 30vh;

}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.btns{
    display: flex;
}

#map { height: 400px;
    width: 50vw;
}


